
.component{
    display: flex;
    width: 100%;
}

.input{
    display: flex;
    border: #5cff1b solid 2px;
    border-radius: 5px;
    width: 70%;
    height: 30px;

}
.input:focus{
    outline: 0;
    border: #5cff1b solid 4px;
}