.cardsListContainer{
    display: flex;
    justify-content: left;
    width: 100%;
   background-color: bisque;

}
.question{
    width: 250px;

}
.answer{
    width: 250px;
}
.grade{
    width: 250px;
}
.update{
    width: 250px;
}